*{

 padding: 0;
 margin: 0;
}


body{

background-color:#eee9e9;
font-family: 'Raleway', sans-serif;
color: white;
font-size: 17px;
height: 100vh;

display: flex;
justify-content: center;
align-items: center;


}

.container{


 background-color:  #f5efef;
  width: 70%;
  height: 90%;
  box-shadow:  2px 2px 10px 4px 
  #f5efef;
  display: flex;
  



}


.left-side{

 flex: 0 40%; 
 border-radius: 20px 0 0 20px;
 background-color: #3BB397;  

 display: flex;
 justify-content: center;
 align-items: center;

}

.left-content{

  width:350px;
  height: 280px;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.left-content >h1{

    font-size: 35px;
}
.left-content >p{

text-align: center;
font-size: 16px;
font-weight: 570;
line-height: 1.5;


}

.left-content > a{

    color:white;
    text-decoration: none;
    padding:10px 65px;
    border:1px solid white;
    border-radius: 30px;
    font-size: 18px;
     

}


.right-side{
flex:0 60%;
background-color: white;
border-radius: 0px 20px 20px 0;

display: flex;
justify-content:center;
align-items: center;

}


.right-content{

flex: 0 45%;
height: 75%;


display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;




}

.right-content >h1{

    color: #3BB397;
    font-size: 40px;
}

.links{

    color:black;
}

.right-content >p{

    color: black;
}
