*{

 padding: 0;
 margin: 0;
}


body{

background-color:#eee9e9;
font-family: 'Roboto', sans-serif;
color: white;
font-size: 17px;
height: 100vh;

display: flex;
justify-content: center;
align-items: center;


}

.container{


 background-color:  #f5efef;
  width: 70%;
  height: 90%;
  box-shadow:  2px 2px 10px 4px 
  #f5efef;
  display: flex;
  



}


.left-side{

 flex: 0 40%; 
 border-radius: 20px 0 0 20px;
 background-color: #3BB397;  

 display: flex;
 justify-content: center;
 align-items: center;

}

.left-content{

  width:350px;
  height: 250px;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.left-content >h1{

    font-size: 35px;
}
.left-content >p{

text-align: center;
font-size: 16px;
font-weight: 570;
line-height: 1.5;


}

.left-content > a{

    color:white;
    text-decoration: none;
    padding:10px 65px;
    border:1px solid white;
    border-radius: 30px;
    font-size: 18px;
     

}


.right-side{
flex:0 60%;
background-color: white;
border-radius: 0px 20px 20px 0;

display: flex;
justify-content:center;
align-items: center;

}


.right-content{

flex: 0 46%;
height: 70%;


display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;




}

.right-content >h1{

    color: #3BB397;
    font-size: 40px;
    font-weight: 900;
}

.links{

    color:black;
    width:50% ;


    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.image{

  width: 30px;
  height: 30px;
  border:1px solid #f0eded;
  border-radius: 50%;
  padding: 10px 10px;;

}



.right-content >p{

    color: #a2a2a2;
   
}

.form{

flex:0 50%;

display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;

}

.form-group{

 position: relative;

}


.form-group img{
    
 position: absolute;
 width: 20px;
 height: 18px;
 transform: translate(50%,85%);
 filter: invert(100%);
 -webkit-filter: invert(65%);

}
.input{

padding: 20px 35px ;
width: 250px;
background-color:rgb(248, 244, 244);
border: none;

}

.input::placeholder{

    color: #a2a2a2;
    font-size: 16px;
    text-indent:2px;
}

.button{

    background-color: #3BB397;
    color:white;
    text-decoration: none;
    padding:15px 85px;
    border:1px solid white;
    border-radius: 30px;
    font-size: 18px;

     

}

