
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;

}

.container{

display: flex;




}


.item{

    background-color: orange;
    padding: 25px;
    margin:25px ;
    border-radius: 10px;
    color:white;
    font-size: 25px;
    font-weight: bold;
    
   
}

