
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;

}

.container{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color:aquamarine;
height: 100vh;



}


.item{

    background-color: orange;
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    color:red;
    font-size: 25px;
    font-weight: bold;
    text-align: center;

    
   
}


.container2{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: brown;
    height: 100vh;
}

.box{


    background-color: blue;
    height: 150px;
    width: 150px;
    margin:10px;
    font-size: 30px;
    font-weight: bold;



}


.container3{
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
background-color:blueviolet;
padding: 10px;
height: 100vh;


}

.kutu{

    background-color: aquamarine;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

}

.container4{
display: flex;
flex-wrap: wrap;
align-content: flex-end;
background-color: sandybrown;
height: 100vh;


}

.contain{

width: 200px;
height: 200px;
background-color: darkgreen;
margin: 10px;

}
